{% extends "base.html" %}
{% load static %}
{% block title %}Configuration du panneau{% endblock %}
{% block content %}
    <h1>Page de configuration</h1>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div id="slabcontainer">

            <div class="slab">
                <p>1</p>
            </div>
        </div>
        <div style="height: 200px; width: 300px">
            <form>
                <p>
                    <label for="name">Nom de la config</label> : <input type="text"
                                                                        name="name"
                                                                        id="name"/><br>
                    <label for="description">Description</label> : <textarea name="description"
                                                                             rows="10"
                                                                             cols="50"
                                                                             id="description">Description</textarea><br>
                    <label for="height">Hauteur de la source</label> : <input type="number"
                                                                               min=18
                                                                               name="height"
                                                                               id="height"/><br>
                    <label for="width">Largeur de la source</label> : <input type="number"
                                                                               min=18
                                                                               name="width"
                                                                               id="width"/><br>
                    <label for="number">Nombre de dalles</label> : <input type="number"
                                                                          min=1
                                                                          name="number"
                                                                          id="number"/><br>
                    <label for="FPSmax">Nombre de FPS max</label> : <input type="number"
                                                                           min=1
                                                                           max=100
                                                                           name="FPSmax"
                                                                           id="FPSmax"
                                                                           value="60"/><br>
                    <label for="primarySPImax">Vitesse max du SPI principal</label> : <input type="number" min="1000000"
                                                                                             max="50000000"
                                                                                             name="primarySPImax"
                                                                                             id="primarySPImax"
                                                                                             step="500000"
                                                                                             value="32000000"/><br>
                    <label for="secondarySPImax">Vitesse max du SPI secondaire</label> : <input type="number"
                                                                                                min="1000000"
                                                                                                max="16000000"
                                                                                                name="secondarySPImax"
                                                                                                id="secondarySPImax"
                                                                                                step="500000"
                                                                                                value="5000000"/><br>
                </p>
                <button type="button" id="save">Sauver la config</button>
                <button type="button" id="apply">Sauver et appliquer la config</button>

            </form>
            <p id="posX"></p>
            <p id="posY"></p>
        </div>
    </div>
{% endblock %}
