{% extends "base.html" %}
{% load static %}
{% block title %}Edit a configuration{% endblock %}
{% block where_am_i %}
<li><a href="{% url 'edit-config' config.id %}">{{ config.name }}</a></li>
<li> > </li>
{% endblock %}
{% block content %}
        <div class="flex">
            <div class="block">
                <form action="{% url 'edit-config' config.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" />
            </form>
            </div>
            <div class="block">
                <h2>Continuous rules <a class="round-button" href="{% url 'add-continuous-rule' config.id %}">Add</a></h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Midi CC</th>
                        <th>Scale</th>
                        <th></th>
                    </tr>
                </thead>
                {% for rule in continuous_rules %}
                    <tr>
                        <td>{{ rule.name }}</td>
                        <td>#{{ rule.midi_cc }}</td>
                        <td>{{ rule.scale_down }} - {{ rule.scale_up }}</td>
                        <td class="last">
                            <a class="round-button" href="{% url 'edit-continuous-rule' rule.id %}">Edit</a>
                            <a class="round-button" href="{% url 'del-continuous-rule' rule.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <h2>Standard rules <a class="round-button" href="{% url 'add-standard-rule' config.id %}">Add</a></h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Midi note</th>
                        <th>Event</th>
                        <th>Max duration</th>
                        <th></th>
                    </tr>
                </thead>
                {% for rule in standard_rules %}
                    <tr>
                        <td>{{ rule.name }}</td>
                        <td>#{{ rule.note }}</td>
                        <td>{{ rule.get_event_param_display }}</td>
                        <td>{{ rule.max_duration }}</td>
                        <td class="last">
                            <a class="round-button" href="{% url 'edit-standard-rule' rule.id %}">Edit</a>
                            <a class="round-button" href="{% url 'del-standard-rule' rule.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <h2>Bank rules <a class="round-button" href="{% url 'add-bank-rule' config.id %}">Add</a></h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Max duration</th>
                        <th>States #note (priority)</th>
                        <th></th>
                    </tr>
                </thead>
                {% for rule in bank_rules %}
                    <tr>
                        <td>{{ rule.name }}</td>
                        <td>{{ rule.max_duration }}</td>
                        <td>{% for state in rule.bankrulestate_set.all %}
                            {{ state.name }} #{{ state.note }}  ({{ state.priority }}) <br />
                            {% endfor %}
                        </td>
                        <td class="last">
                            <a class="round-button" href="{% url 'edit-bank-rule' rule.id %}">Edit</a>
                            <a class="round-button" href="{% url 'del-bank-rule' rule.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <h2>Chase rules <a class="round-button" href="{% url 'add-chase-rule' config.id %}">Add</a></h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Event</th>
                        <th>State duration</th>
                        <th>Random</th>
                        <th>States #note</th>
                        <th></th>
                    </tr>
                </thead>
                {% for rule in chase_rules %}
                    <tr>
                        <td>{{ rule.name }}</td>
                        <td>{{ rule.get_event_param_display }}</td>
                        <td>{{ rule.state_duration }}</td>
                        <td>{{ rule.random_states }}</td>
                         <td>{% for state in rule.chaserulestate_set.all %}
                            {{ state.name }} #{{ state.note }} <br />
                            {% endfor %}
                        </td>
                        <td class="last" >
                            <a class="round-button" href="{% url 'edit-chase-rule' rule.id %}">Editer</a>
                            <a class="round-button" href="{% url 'del-chase-rule' rule.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
{% endblock %}
