{% extends "base.html" %}
{% load static %}
{% block title %}Configurations list{% endblock %}
{% block content %}
    <h1>Conifigurations list <a class="round-button" href="{% url 'add-config' %}">Add configuration</a></h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creation</th>
                <th></th>
            </tr>
        </thead>
        {% for config in configs %}
            <tr {% if config.active %} id="active-row" {% endif %}>
                <td>{{ config.name }}</td>
                <td>{{ config.description }}</td>
                <td>{{ config.creation|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td class="last">
                {% if not config.active %}
                <a class="round-button" href="{% url 'active-config' config.id %}">Active</a>
                {% endif %}
                <a class="round-button" href="{% url 'edit-config' config.id %}">Edit</a>
                <a class="round-button" href="{% url 'del-config' config.id %}">Delete</a></td>
            </tr>
        {% empty %}
            <p>No config</p>
        {% endfor %}
    </table>
{% endblock %}
