/* Eléments principaux de la page */

body {
    background-color: #FFF;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #333;
    margin:0px
}

section h1, footer h1 {
    font-weight: normal;
    text-transform: uppercase;
}

#console {
    width: 800px;
}
/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: #417690;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
}

#logo img {
    height: 60px;
    filter: invert(1);
}

header h1 {
    font-size: 3.5em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    color: #f5dd5d;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #79aec8;
    height: 38px;
    color: #fff6ba;
}
nav ul {
    display: flex;
    padding-right: 30px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
    margin:0px;
}

#where-am-i {
    color: #fff6ba;
    font-size: 0.8em;
}

#where-am-i li {
    margin-right: 5px;
}

#where-am-i a {
    color: #fff6ba;
    text-decoration: none;
}

#where-am-i a:hover {
       color: #f5dd5d;
}

#menu li {
    margin-right: 15px;
}

#menu li a {
    font-size: 1.3em;
    color: ivory;
    padding-bottom: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu li a:hover {
    color: #c4dce8;
    border-bottom: 3px solid #c4dce8;
}

/* MESSAGES */

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../images/icon-yes.svg) 40px 10px no-repeat;
    background-size: 16px auto;
    color: #333;
}

ul.messagelist li.warning {
    background: #ffc url(../images/icon-alert.svg) 40px 10px no-repeat;
    background-size: 14px auto;
}

ul.messagelist li.error {
    background: #ffefef url(../images/icon-no.svg) 40px 10px no-repeat;
    background-size: 16px auto;
}

/* CONTENT */

#page {
    padding:15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.block {
    display: block;
}

#console {
    font-family: monospace;
}
/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
    width:100%;
}

#active-row {
    background: #9bd9f3;
}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    width:auto;
}

th {
    font-weight: 600;
    text-align: left;
}

thead {
    background: #79aec8;
    color: #fff;
}
.last {
    text-align: right;
}
.round-button {
    background-clip: border-box;
    border-radius: 15px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 10px;
    background-color: #777777;
    color: #fff;
    width: fit-content;
    text-decoration: none;
    font-weight: 400;
}

a.round-button:hover {
    background-color: #79aec8;
}
/* FORM BUTTONS */
form {
 padding:10px;
 width:280px;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #6bc8ec;
 }
legend {
 color: #4c4c4c;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color: #e1fcff;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #6bc8ec;
 border-radius:5px;
 width:200px;
 }

select {
 margin-top:10px;
 }

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

a.button {
    padding: 4px 5px;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #609ab6;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #417690;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #205067;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}


