/* Eléments principaux de la page */

body {
    background-color: #FFF;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    margin:0px
}

section h1, footer h1, nav a {
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: #417690;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
}

#logo img {
    height: 60px;
    filter: invert(1);
}

header h1 {
    font-size: 3.5em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    color: ivory;
}

/* Navigation */
nav ul {
    display: flex;
    background-color: #79aec8;
    height: 38px;
    padding-right: 30px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
    margin:0px;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: ivory;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #c4dce8;
    border-bottom: 3px solid #c4dce8;
}

/* CONTENT */

#content {
    padding:15px;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
    width:100%;
}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    width:auto;
}

th {
    font-weight: 600;
    text-align: left;
}

thead {
    background: #79aec8;
    color: #fff;
}


/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

a.button {
    padding: 4px 5px;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #609ab6;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #417690;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #205067;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}


/* Version mobile */

@media (max-width: 640px) {
    *:not(.slab) {
        box-sizing: border-box;
    }


    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */
    body {
        width: auto;
        margin: 0;
        padding: 0;
    }

    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }

    /* conserver le ratio des images */
    img {
        height: auto;
    }

    /* gestion des mots longs */
    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }

    code,
    pre,
    samp {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
    .element1,
    .element2 {
        float: none;
        width: auto;
    }

    /* masquer les éléments superflus */
    .hide_mobile {
        display: none !important;
    }

    /* Un message personnalisé */
    body:before {
        content: "Version mobile du site";
        display: block;
        text-align: center;
        font-style: italic;
        color: #777;
    }
}
