{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <title>{% block title %}Interface de gestion Autolights{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Autolights</h1>
            <div id="logo">
                <img class="hide_mobile" src="{% static 'config/logo.png' %}" alt="Logo TSM">
            </div>
        </header>
        <nav>
            <ul id="where-am-i">
                {% block where_am_i %}{% endblock %}
            </ul>
            {% block nav %}
            <ul id="menu">
                <li><a href="{% url 'home' %}">Console</a></li>
                <li><a href="{% url 'list-config' %}">Configurations</a></li>
            </ul>
            {% endblock %}
        </nav>
        <ul class="messagelist">
            {% if success_message %}<li class="succes">{{ success_message }}</li>{% endif %}
            {% if warning_message %}<li class="warning">{{ success_message }}</li>{% endif %}
            {% if error_message %}<li class="error">{{ success_message }}</li>{% endif %}
        </ul>
        <section id="page">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
